[submodule "spcoin-hardhat-contract-access-test"]
	path = spcoin-hardhat-contract-access-test
	url = git@github.com:sponsorCoinAdmin/spcoin-hardhat-contract-access-test.git
[submodule "spcoin-nextjs-front-end"]
	path = spcoin-nextjs-front-end
	url = git@github.com:sponsorCoinAdmin/spcoin-nextjs-front-end.git
